Django
asgiref
crispy-bootstrap4
django-admin-interface
django-colorfield
django-crispy-forms
pillow
python-slugify
sqlparse
text-unidecode
tzdata
psycopg2-binary
djangorestframework
requests
django-axes
django-admin-confirm
django-simple-captcha
django-recaptcha
django-paypal
cloudinary
whitenoise
django-multi-captcha-admin
xhtml2pdf
sendgrid
python-dotenv