{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

{% load crispy_forms_tags %}

<div class="card" style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">CONTRATO DE PRESTACION DE SERVICIOS</h4>
        <div class="d-flex ">
            <i data-feather="download"></i>
        </div>
    </div><b></b>
    <div style="padding: 6%;">
        <p>
            En Santiago, a 28 de Junio de 2024, entre <b>Agencia On Tour</b> (razón social), RUT 77439323-3,
            representada por don(ña) <b>Juan Carlos Bodoque</b> en su calidad de Agente de Viajes, cédula de identidad Nº
            12392034-2, ambos domiciliados en calle Avda Topotito, Nº 22 comuna de Providencia, ciudad de
            Santiago, que en adelante se denominará “el mandante”, y don(ña) <b>{{ x.nombre }} {{ x.appaterno }} {{ x.apmaterno }}</b> de nacionalidad
            Chilena, nacido(a) el 21 de Agosto de 1998, cédula de identidad Nº {{ x.rut }} , de profesión u
            oficio Analista Programador, domiciliado en calle {{ x.direccion }} , ciudad de {{ x.ciudad }} , pais de
            {{ x.pais }} , que en adelante se denominará “el mandatario”, han acordado el contrato de prestación de
            servicios a
            honorarios que constan en las cláusulas que a continuación se exponen:
        </p>

        <p>
            <b>PRIMERO.</b> En virtud del presente contrato de prestación de servicios, el mandatario se compromete a
            ejecutar para el mandante el siguiente encargo: __________________ (1) del proyecto __________________ (2).
        </p>

        <p>
            Las partes dejan expresa constancia que en el desempeño del encargo señalado en el párrafo precedente, el
            mandatario se desempeñará como trabajador independiente, no existiendo vínculo de subordinación o
            dependencia
            con el mandante. Por lo tanto, el encargo o servicio que se le ha encomendado lo efectuará en el horario y
            condiciones convenidas.
        </p>

        <p>
            <b>SEGUNDO.</b> Toda colaboración que el mandatario solicite a otras personas, a cualquier título, será de
            su
            exclusiva responsabilidad, no generándose obligación alguna para el mandante en relación con dichas
            personas.
        </p>

        <p>
            <b>TERCERO.</b> Por el servicio que realizará el mandatario, la empresa mandante pagará un honorario
            ascendente
            a la suma de $ __________________ (3) líquido. La empresa dispondrá su pago reteniendo sólo el 10,75% de
            Impuesto a la Renta.
        </p>

        <p>
            <b>CUARTO.</b> Los honorarios pactados en la cláusula precedente serán los únicos pagos que el mandatario
            tendrá
            derecho a recibir por la prestación de estos servicios. Por consiguiente, no se genera en virtud del
            presente
            contrato derecho a indemnización alguna, feriado, ni cotizaciones previsionales de las que participen los
            trabajadores dependientes regidos por el Código del Trabajo. Sin perjuicio de lo anterior, el mandatario
            podrá
            efectuar cotizaciones previsionales, como trabajador independiente para los efectos de su previsión en una
            Administradora de Fondos de Pensiones e Instituciones de Salud Previsional.
        </p>

        <p>
            <b>QUINTO.</b> La liquidación de los honorarios tendrá lugar los días 30 de cada mes (o día a convenir).
            Para su
            pago el mandatario deberá presentar la correspondiente boleta de honorarios. Anualmente el mandante
            entregará un
            certificado que deje constancia del monto total de los honorarios pagados e impuestos retenidos al
            mandatario.
        </p>

        <p>
            <b>SEXTO.</b> Los gastos en que incurra el mandatario para el cumplimiento de su encargo correrán por cuenta
            del
            mandante. Para facilitar el servicio prestado el mandante proporcionará los elementos necesarios, que
            deberán
            utilizarse exclusivamente en la ejecución del encargo posible, respondiendo del uso indebido de los mismos.
        </p>

        <p>
            <b>SÉPTIMO.</b> Las partes podrán desahuciar el presente contrato dando un aviso anticipado de 30 días, que
            deberá constar por escrito, que en este caso se da por enterada que es con fecha __________________ (4).
        </p>

        <p>
            Asimismo, el contrato terminará por las causales de extinción del mandato prescritas por el artículo 2.163
            del
            Código Civil.
        </p>

        <p>
            <b>OCTAVO.</b> Para las cuestiones a que dé lugar este contrato, las partes fijan domicilio en la ciudad de
            Santiago, y se someten a la jurisdicción de sus Tribunales.
        </p>

        <p>
            <b>NOVENO.</b> El presente contrato se suscribe en duplicado, quedando una copia en poder de cada parte.
        </p>

        <p>
            ____________________ <br>
            <b>FIRMA DEL MANDANTE</b> <br>
            RUT:
        </p>

        <p>
            ______________________ <br>
            <b>FIRMA DEL MANDATARIO</b> <br>
            RUT:
        </p>

        <p>
            <i>*Borrar los números asignados una vez completado el contrato.</i>
        </p>

        <p>
            <b>Detalle a completar del Contrato:</b>
        <ol>
            <li>Servicio prestado.</li>
            <li>Proyecto en el cual realizará los servicios.</li>
            <li>Valor líquido diario.</li>
            <li>Fecha de Término de los servicios.</li>
        </ol>
        </p>
    </div>
</div>

{% endblock %}